body {
    background-color: #152238;
    color: white;
}

.app-container {
    padding: 30px 100px 30px 100px !important;
}

.title-container {
    border-bottom: 1px solid lightcyan;
    margin: 0 0 60px 0;
    padding: 15px;
}

.title-container > h1 {
    text-align: center;
}

#myMap {
    width: 100%;
    height: 70vh;
    min-height: 500px;
    border-radius: 10px;
}

.map-row {
    min-height: 650px;
}

#start {
    margin: 0 30% 80px 30%;
    width: 40%;
}

.commands {
    line-height: 1.8;
}
